@model HaberModuluProjesi.Entities.News

@{
    ViewData["Title"] = "Haber Sil";
}

<h1>Haber Sil</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image) :
        </dt>
        <dd class="col-sm-10">

            <img src="/img/@Model.Image" alt="" height="75" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive) :
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsActive)
            {
                <label class="btn btn-success btn-sm"><i class="bi bi-check-lg"></i></label>
            }
            else
            {
                <label class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></label>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpToDate) :
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsUpToDate)
            {
                    <label class="btn btn-success btn-sm"><i class="bi bi-check-lg"></i></label>
            }
            else
            {
                    <label class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></label>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-2">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="SİL" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">HABER lİSTESİNE DÖN</a>
    </form>
</div>
